<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"
    />
    <title>A Cupcake That Needs To Be Protected</title>
  </head>
  <body>
    <section>
      <img src="/images/pexels-robi-pastores-4550584.jpg" width="960" />
      <div id="info">
        <p id="name">Angelique Rivera</p>
        <h1>Stubbornly Cheesy.<br />Honest.<br />Spontaneous.</h1>
        <p>I once baked a cake for Yagoo, CEO of Hololive.</p>
        <p>I have hyperflexible elbows and fingers.</p>
        <p>I own two chinchillas!</p>
        <h2>Connect</h2>
        <ul>
          <li><a href="https://www.instagram.com/angdeehdee">Instagram</a></li>
          <li>
            <a href="https://www.linkedin.com/in/angeliquebrianarivera"
              >LinkedIn</a
            >
          </li>
          <li>
            <a href="https://steamcommunity.com/profiles/76561198041445263/"
              >Steam</a
            >
          </li>
        </ul>
        <p>&copy; 2021 Angelique Rivera</p>
      </div>
    </section>
  </body>
</html>
